<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<footer class="footer bg-white">

</footer>
<script th:inline="javascript">
$(function() {

//======================== mojs_burst start ================
	var burst1 = new mojs.Burst({
		left: 0,
		top: 0,
		radius: {
			5: 40
		},
		children: {
			shape: "circle",
			fill: ["red", "cyan", "orange"],
			fillOpacity: .8,
			radiusX: 3.5,
			radiusY: 3.5
		}
	});
	document.addEventListener("click", function(a) {
		null == a.target.href && "footer" != a.target.className && "copyright" != a.target.className && "author__urls social-icons" != a.target.className && "author__avatar" != a.target.className && "sidebar sidebar-active" != a.target.className &&
		burst1.tune({
			x: a.pageX,
			y: a.pageY
		}).generate().replay()
	});
//======================== mojs_burst end ================
	
//======================== headroom_header start ================
	
	var header = new Headroom(document.getElementById("header"), {
		tolerance: 5,
		offset: 80,
		classes: {
			initial: "animated",
			pinned: "slideDown",
			unpinned: "slideUp"
		}
	});
	header.init();
//======================== headroom_header end ================	
	$("#text_intro").animatext("Random");
	
});
</script>
<script th:src="@{//cdn.jsdelivr.net/mojs/latest/mo.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/headroom/0.9.1/headroom.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js}"></script>
</body>
</html>