<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="themes/default/header::header(null, null)"></div>
</head>
<body>
	<div class="main-content index-page clearfix">
		<div class="post-lists">
			<div class="post-lists-body">
				<div class="post-list-item" th:each="article: ${articles.list}">
					<div class="post-list-item-container">
						<a class="item-thumb  bg-deepgrey"
							th:style=" 'background-image:url(' + @{${commons.show_thumb(article)}} + ');'">
						</a>
						<dir class="item-desc"
							th:text="${article.tags} ? ${article.tags} : '测试'"></dir>
						<div class="item-slant reverse-slant bg-deepgrey"></div>
						<div class="item-slant"></div>
						<div class="item-label">
							<div class="item-title">
								<a th:text="${article.title}"
								   th:href="${commons.permalink(article)}"
								></a>
							</div>
							<div class="item-meta clearfix">
								<div
									th:style="'background: url('+@{/user/img/bg-ico.png}+');no-repeat;background-size: 40px auto;' "></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="lists-navigator clearfix">
		<div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>
	</div>
	</div>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>
